*
{
    margin: 0;
    padding: 0;
    
}
body
{
    background-image: url(https://media.istockphoto.com/id/1297933144/vector/vector-illustration-of-indian-tricolor-flag-background.jpg?s=612x612&w=0&k=20&c=tCd-ZdLMNHw_KAMZTX9zStqEDdWzXlS6FYrvjrZIswk=);
    background-size: cover;
    
}

header
{
    text-align: center;
    margin: 5px 0px;
    
}


.container
{
    margin-top: 4px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
}
.container .box
{
    
    border: solid;
    border-radius: .1rem;
    display: flex;
    height: 27rem;
    /* flex-wrap: wrap; */
}

.container .box img
{
    width: 50%;
    height: 26rem;
    padding: .5rem;
}

.container .heading
{
    margin-top: 2rem;
    padding: .5rem;
    border: solid solid solid;
    border: 2mm ridge rgba(243, 37, 198, 0.6);
    
}

.container .box p
{
    padding-top: .5rem;
}

.container .box .button
{
    margin-top: .5rem;
    margin-bottom: .5rem;
    background-color: #a09d9d;
    text-decoration: none;
    padding: 0.3rem;
    transition: margin 0.3s ease-in-out;
    
}
.container .box .button a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.container .box .button:hover
{
    margin-top: -0.2px;
}
footer
{
    background-color: rgb(255, 255, 255);
    text-align: center;
}

footer h3 span
{
    color: red;
}